* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

h1 {
  font-size: 32px;
}

header {
  height: 40px;
  text-align: center;
}
.chessboard {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: calc(100% - 80px);
  aspect-ratio: 1;
}

.square {
  border: 1px solid black;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.square:nth-child(16n + 16),
.square:nth-child(16n + 14),
.square:nth-child(16n + 12),
.square:nth-child(16n + 10),
.square:nth-child(16n + 7),
.square:nth-child(16n + 5),
.square:nth-child(16n + 3),
.square:nth-child(16n + 1) {
  background: brown;
  font-size: 30px;
}
